<%= form_tag("/hubs/new", method: "get") do %>
    <div class="search">
      <%= text_field_tag "hashtag", nil, placeholder: "HUBBUB", class: "main-form" %>
    </div>
        <%= submit_tag "SEARCH", class: "submit" %>
<% end %>
<h3>A hub for all your events</h3>

