

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Search Hashtag</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <%= form_tag("/hubs/new", method: "get") do %>
              <%= text_field_tag "hashtag", nil, placeholder: "HUBBUB", class: "main-form" %>

            <%= submit_tag "Search", class: "test" %>
            <% end %>
          </div>

        </div>

      </div>

    </div>