<h1>#<%= params[:hashtag] %></h1>
<% @insta.each do |photo|%>
    <%= image_tag photo.images.low_resolution.url %>
<% end %>
<% @twitter.each do |tweet| %>
    <p><%= tweet.text %></p>
<% end %>

<%= @store %>