/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

@font-face {
  font-family: 'Outage';
  src: url('Outage.woff') format('woff');
}

@font-face {
    font-family: 'Governor';
    src: url('governor.ttf') format('ttf');
}

a {
  font-family: Outage;
  color: white;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

html,
body {
  height: 100%;

}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: Outage;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.container {
  display: table;
  width: 100%;
  height: 100vh; /* For at least Firefox */
  min-height: 100%;
  background: #ff6928; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff6928 0%, #6d35c6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6928), color-stop(100%,#6d35c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff6928 0%,#6d35c6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff6928 0%,#6d35c6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff6928 0%,#6d35c6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff6928 0%,#6d35c6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6928', endColorstr='#6d35c6',GradientType=0 ); /* IE6-9 */
}

.main-form {
  width: 500px;
  height: 150px;
  color: #FFF;
  font-size: 8em;
  font-family: Outage;
  background-color: transparent;
  border: 0px solid #FFF;
  border-bottom: 3px solid #fff;
  outline: none;
}

::-webkit-input-placeholder {
   color: white;
   text-shadow: 2px 2px black;
}

.submit {
  margin: 50px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  font-size:2em;
  color: white;
  background: transparent;
  font-family: Outage;

}

.black_text {
  color: black;
  border: 3px solid purple;
  border-radius: 5px;
}

.box {
  height: 500px;
  width: 800px;
  border-radius: 20px;
  background-color: grey;
}

.topbar{
  margin-top: 20px;
  padding: 10px;
  font-size:2em;
}

.search {
  margin-top: 70px;
}